
        <div>
            <div class="container" >
                <div class="row background_white">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div >
                            <h2 class="text-center">Music Genres</h2>

                            <div class="margin10">
                                <ul class="list-group">
                                  <ng-container *ngFor="let genre of data">
                                    <li class="list-group-item">{{ genre.title }}
                                      <button type="button" class="pull-right" (click)="deleteGenre(genre.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </li>

                                  </ng-container>

                                </ul>
                            </div>



                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="margin10">
                          <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-success" *ngIf="successMessage.success">
                                <strong>{{ successMessage.message }}</strong>
                          </div>
                            <form #genreForm="ngForm" (ngSubmit)="addGenre(genreForm)">
                                <h2 class="text-center">Add New Genre</h2>
                                <div class="form-group" [class.has-error] = "genre_title_control.invalid && genre_title_control.touched"
                                                        [class.has-success] = "genre_title_control.valid">
                                  <label for="genre_title" class="control-label">Genre Title</label>
                                  <input type="text" class="form-control" id="genre_title" name="genre_title"
                                          [(ngModel)]="genre_title" placeholder="Genre Title" required #genre_title_control="ngModel">
                                  <span class="help-block" *ngIf="genre_title_control.invalid && genre_title_control.touched">
                                    Genre title is Required
                                  </span>
                                </div>



                                <div class="margin20">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!genreForm.form.valid">Add New Genre</button>
                                </div>
                            </form>


                        </div>

                    </div>
                </div>
            </div>
        </div>

        <footer class="page-footer font-small indigo background_heads">
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="https://mdbootstrap.com/bootstrap-tutorial/"> musiclab.com</a>
            </div>
          <!-- Copyright -->

        </footer>

    <!-- </body>

</html> -->
